<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>加入我们</title>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/join.css" />
    <style type="text/css">

    </style>
</head>

<body>

    <div class="head">师大食堂外卖
        <ul class="fr">
            <li>
                <a href="/index">首页</a>
            </li>
            <li>
                <a href="/joinin">我要入驻</a>
            </li>
            <li>
                <a href="/waimai">点外卖</a>
            </li>
            <li>
                <a href="/rider">我要送餐</a>
            </li>
        </ul>
    </div>
    <div class="body">
    </div>
    <div class="load"><a href="/sellerlogin">直接登陆</a></div>
    <div class="create"><a href="/sellercreat">申请入住</a></div>
</body>

</html>