<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>加入我们</title>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/rider.css" />
    <style type="text/css">
        body {
            background-image: url("../static/images/waimai.png");
            background-size: 100% 130%;
            background-repeat: no-repeat;
        }
    </style>
</head>

<body>

    <div class="head">师大食堂外卖
        <ul class="fr">
            <li>
                <a href="/index">首页</a>
            </li>
            <li>
                <a href="/joinin">我要入驻</a>
            </li>
            <li>
                <a href="/waimai">点外卖</a>
            </li>
            <li>
                <a href="/rider">我要送餐</a>
            </li>
            <li><a href="/userlogin">登录</a></li>
        </ul>
    </div>

    <div class="body">
        <div class="body1">
            <a href="">公寓</a>
        </div>
        <div class="body2">
            <a href="">户外</a>
        </div>
        <div class="body3">
            <a href="">我的单子</a>
        </div>
    </div>
</body>

</html>